.main {
    font-family: "Oswald", "Lato", sans-serif;
    height: 100%;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    height: 100%;
}
