.main {
  font-family: "Oswald", "Lato", "Arial", sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.button-buy {
  box-sizing: border-box;
  border: 0;
  background-color: #68b738;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
    width: 1220px;
  }
}


a {
  text-decoration: none;
}
