.additional-product__title {
  font-family: $main-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.additional-product__name {
  font-family: $main-font;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.additional-product__pack {
  font-family: $title-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-product__price {
  font-family: $title-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-product__bonus {
  background: url("../img/catalog/cat_in_backpack.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(104, 183, 56, 0.85);
  width: 280px;
  height: 289px;

  @media (min-width: $tablet-width) {
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    height: 288px;
  }
}

.additional-product__bonus-title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.additional-product__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .additional-product__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .additional-product__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.additional-product__buy-card {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.additional-product__table {
  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 80px;
  }
}
