.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  width: 225px;
  height: 40px;
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
  width: 179px;
  height: 54px;
}

.advantages__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
