.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #444444;
}
