.contact__title {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contact__text {
  font-family: $title-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
