.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  width: 195px;
  height: 40px;
}

.example__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 280px;
  height: 108px;
}

.example__meaning {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__costs {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.example__description {
  font-size: 12px;
  color: #444444;
}
