.main {
  font-family: "Oswald", "Lato", "Arial", sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

img {
  height: 100%;
}

.button-buy {
  box-sizing: border-box;
  border: 0;
  background-color: #68b738;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
