.main-footer__contact {
  background: #ffffff;
  display: block;
}

.main-footer__maps {
  top: 0;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
