
.main-nav__link-name {
  font-family: $main-font;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 709px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1200px;
  }

  .main-nav__link {
    width: 478px;
  }

  .main-nav__link-name {
    color: #ffffff;
  }
}

