.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__link-name {
  font-family: $main-font;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
