.tender {
  font-family: $main-font;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(to top, #ffffff 178px, rgba(104, 183, 56, 0.85) 178px), url("../img/index-background-desktop.png");
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    background: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .tender__header {
    width: 450px;
  }
}

.tender__slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.tender__intro {
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.tender__button {
  box-sizing: border-box;
  min-height: 40px;
  border: 0;
  background-color: #68b738;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }
}

.tender__container {
  min-height: 480px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 64px 30px 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 0 52px 50px;
    position: relative;
  }
}

.tender__cat-food {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 20px;
    right: 136px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    bottom: 150px;
    right: 159px;
  }
}

@media (min-width: $tablet-width) {
  .tender__slogan {
    color: #000000;
  }

  .tender__intro {
    color: #000000;
  }
}
