.tender {
  font-family: $main-font;
  color: #ffffff;
  text-align: center;
  background: url("../img/index-background-desktop.png");
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  background-position: center;
}

.tender__slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.tender__intro {
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.tender__button {
  box-sizing: border-box;
  min-height: 40px;
  border: 0;
  background-color: #68b738;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.tender__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .tender__slogan {
    color: #000000;
  }

  .tender__intro {
    color: #000000;
  }
}
