.additional-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.additional-product__name {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.additional-product__pack {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-product__price {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

/* aaaa */
/* aaaa */
.additional-product__bonus {
  background: url("../../img/catalog/cat_in_backpack.png");
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
}

/* aaaa */
/* aaaa */
.additional-product__bonus-title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #444444;
}

.catalog-product-cards__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.structure__info {
  margin: 0;
  padding: 0;
}

.structure__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__button-order {
  box-sizing: border-box;
  border: 0;
  background-color: #68b738;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.all-catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.all-catalog__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.all-catalog__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  background: #f2f2f2;
  border: 0;
}

.diet__item {
  background: #f2f2f2;
}

.diet__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.diet__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  width: 110px;
  color: #000000;
}

.diet__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.diet__link-name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.example__container {
  background: #eaeaea;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  width: 195px;
  height: 40px;
}

.example__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 280px;
  height: 108px;
}

.example__meaning {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__costs {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.example__description {
  font-size: 12px;
  color: #444444;
}

.form__list {
  margin: 0;
  padding: 0;
}

/* fdsf */
.form__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

/* fdsf */
.form__control {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}

/* fdsf */
.form__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}

.form__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.form__required {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.program-selection__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.program-selection__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
}

.main-footer__wrapper {
  background: #f2f2f2;
}

.contact__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contact__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-family: "oswald";
  src: url("../../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
.tender {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
  background: url("../../img/index-background-desktop.png");
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  background-position: center;
}

.tender__slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.tender__intro {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.tender__button {
  box-sizing: border-box;
  min-height: 40px;
  border: 0;
  background-color: #68b738;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.main {
  font-family: "Oswald", "Lato", sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */